:host {
  display: block;
  background: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
  overflow: hidden;
  min-width: 300px;
  padding-top: var(--margin-md);
}
* {
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
}
a:link,
a:visited {
  display: block;
}
h4,
p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
app-input {
  width: calc(100% - var(--padding-lg) * 2);
  margin-bottom: var(--margin-md);
}
app-button {
  width: calc(100% - var(--padding-lg) * 2);
}
.error {
  color: red;
}
:last-child {
  padding-bottom: var(--margin-lg);
}
